@import url('https://fonts.googleapis.com/css?family=Inter:400,600,700');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, rgb(43,50,178) 0%, rgb(20,136,204) 100%);  
  background-repeat: no-repeat;  
  background-attachment: fixed; 
}

#root {
  height: 100vh;
  padding-bottom: 20px;
}

.container {
  width: 55%;
  margin: 0 auto;
  height: 100%;
}

.next-forecast-container {
  min-height: 370px;
  margin-top: 16px;
  border-radius: 20px;
}

.weather-item {
  width: calc(70px * 1.4);
  height: calc(155px * 1.4);
  border-radius: 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.bg-dark {
  background: rgba(0, 16, 38, 0.3);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.width-full {
  width: 100%;
}

.font-49 {
  font-size: 49px;
}

.font-35 {
  font-size: 35px;
}

.bold {
  font-weight: 700;
}

.white {
  color: white;
}

.gap-20 {
  gap: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.ai-end {
  align-items: end;
}

.flex {
  display: flex;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.lh-90-percent {
  line-height: 90%;
}

.border-right {
  border-right: 1px solid;
}

.border-color-white {
  border-color: white;
}

.mt-20 {
  margin-top: 20px;
}

.br-20 {
  border-radius: 20px;
}

.opacity-70-percent {
  opacity: 0.7;
}

.width-68 {
  width: 68px;
}

.jc-center {
  justify-content: center;
}

.p-20 {
  padding: 20px;
}

.font-27 {
  font-size: 27px;
}

.jc-end {
  justify-content: end;
}

.ai-center {
  align-items: center;
}

.ph-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.width-47 {
  width: 47px;
}

.bold {
  font-weight: 700;
}

.mt-40 {
  margin-top: 40px;
}

.jc-sb {
  justify-content: space-between;
}

.font-21 {
  font-size: 21px;
}

input[type=text] {
  width: 200px;
  padding: 5px;
  border-radius: 3px;
  font-family: inherit;
  padding-left: 10px;
}

input[type=text]:focus {
  outline: none;
}

.position-absolute {
  position: absolute
}

.bg-white {
  background-color: white;
}

.width-216 {
  width: 216px;
}

.top-28 {
  top: 28px
}

.br-3 {
  border-radius: 3px;
}

.ls-none {
  list-style: none;
}

.cursor-pointer {
  cursor: pointer;
}

.border-box {
  box-sizing: border-box;
}

.border-bottom-black {
  border-bottom: 1px solid black;
}

.ph-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.pt-5 {
  padding-top: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.ai-center {
  align-items: center;
}

@media only screen and (max-width: 599px) {
  .container {
    width: 90%;
  }
  .weather-item {
    width: calc(70px);
    height: calc(155px);
  }
  .sm-hide {
    display: none;
  }
  .font-49 {
    font-size: 42px;
  }
  .font-35 {
    font-size: 27px;
  }
  .font-27 {
    font-size: 19px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .container {
    width: 85%;
  }
  .sm-hide {
    display: none;
  }
  .font-49 {
    font-size: 44px;
  }
  .font-35 {
    font-size: 29px;
  }
  .font-27 {
    font-size: 21px;
  }
}